<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>
    <meta charset="UTF-8">
    <title>FCM 토큰 발급받기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="#">
</head>
<script th:inline="javascript">
    window.onload = function () {
        console.log('window onload');
        initiallizeFirebase();
        registerServiceWorker();
    }

    function initiallizeFirebase() {
        const firebaseConfig = {
            apiKey: "AIzaSyCCvaGdXas6LuaCNPeZ9FMCNqhR5VbaL2U",
            authDomain: "solar-imprint-417411.firebaseapp.com",
            projectId: "solar-imprint-417411",
            storageBucket: "solar-imprint-417411.appspot.com",
            messagingSenderId: "793717607575",
            appId: "1:793717607575:web:fa7d5b2f29130f3c87add2",
            measurementId: "G-F501B0PBYH"
        };


        firebase.initializeApp(firebaseConfig);

        const messaging = firebase.messaging();

        messaging.requestPermission().then(function () {
            return messaging.getToken();
        }).then(async function (token) {
            handleToken(token);
        }).catch(function (err) {
            console.log('Unable to get permission to notify.', err);
        });

        messaging.onTokenRefresh(() => {
            messaging.getToken().then((refreshedToken) => {
                console.log('Token refreshed.' + refreshedToken);
            }).catch((err) => {
                console.log('Unable to retrieve refreshed token ', err);
            });
        });

        messaging.onMessage((payload) => {
            console.dir('Message received. ', payload);
            alert(payload);
        });
    }

    function handleToken(newToken) {
        const oldToken = localStorage.getItem('fcmToken');
        if (!oldToken || oldToken !== newToken) {
            localStorage.setItem('fcmToken', newToken);
            document.getElementById('token').textContent = newToken;
            console.log("token 바뀜" + newToken)
        } else {
            console.log('Token unchanged, not updating server: ' + newToken);
            document.getElementById('token').textContent = newToken;
        }
    }

    debugger;

    function registerServiceWorker() {
        console.log("registerServiceWorker()");
        navigator.serviceWorker.register("/firebase-messaging-sw.js")
            .then(function (registration) {
                console.dir(registration.scope);
                console.log("Service Worker가 scope에 등록되었습니다.:", registration.scope);
            })
            .catch(function (err) {
                console.log("Service Worker 등록 실패:", err);
            });
    }
</script>
<body>
<h1>hi! fcm</h1>
<div>
    <b id="token"></b>
</div>
</body>
</html>