<!DOCTYPE html>
<html>
<head>
    <script defer type="module" src="https://www.gstatic.com/firebasejs/10.4.0/firebase-app-compat.js"></script>
    <script defer type="module" src="https://www.gstatic.com/firebasejs/10.4.0/firebase-functions-compat.js"></script>
    <script defer type="module" src="https://www.gstatic.com/firebasejs/10.4.0/firebase-messaging-compat.js"></script>
    <script defer src="firebase-script.js"></script>
    <meta charset="UTF-8">
    <title>FCM 토큰 발급받기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="#">
</head>
<body>
<h1>hi! fcm</h1>
<div>
    <b id="token"></b>
</div>
</body>
</html>